.news-card {
  width: calc(33% - 20px);
  margin-bottom: 40px;

  img {
    width: 100%;
    height: 220px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .title {
    font-size: 18px;
    font-weight: 600;
    color: #231f20;
    margin-bottom: 12px;
  }

  .date {
    font-size: 14px;
    font-weight: 500;
    color: #a8aaae;

    img {
      width: 14px;
      height: 14px;
      border-radius: 0;
      margin-bottom: 3px;
    }
  }

  .news-description {
    font-size: 16px;
    font-weight: 500;
    color: #676a71;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
