.footer {
  width: 100%;
  padding: 80px 115px;
  background-color: #fff;
  text-align: center;

  .divider {
    width: 100%;
    height: 1px;
    background-color: #ededf4;
    margin: 10px 0 10px 0;
  }

  p {
    font-size: 14px;
    color: #676a71;
    font-weight: 500;
  }

  .light {
    color: #a8aaae;
  }

  .dark {
    color: #4d4d4f;
    margin-bottom: 10px;
  }

  .footer-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: initial;

    .column {
      padding-right: 40px;
      min-width: 20%;
      margin-bottom: 40px;

      .logo {
        width: 170px;
        height: 40px;
        margin-bottom: 20px;
      }

      h3 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      h6 {
        font-size: 16px;
        font-weight: 600;
        color: #4d4d4f;
        margin: 30px 0 10px 0;
      }

      .service-button {
        border: 0;
        background-color: #ffffff00;
        color: #009cb4;
        font-size: 14px;
        font-weight: 500;
        text-decoration-line: underline;
        padding: 0;
      }
    }
  }
}
